Ajouter un modèle :
  <mat-select placeholder="Marque" [(ngModel)]="selMarque" (selectionChange)="changeMarque()">
    <mat-option *ngFor="let m of marques" [value]="m">
      {{m}}
    </mat-option>
  </mat-select>

<br>

  <mat-select *ngIf="selMarque!=null" placeholder="Reference" [(ngModel)]="selRef">
    <mat-option *ngFor="let ref of references" [value]="ref.reference">
      {{ref.reference}}
    </mat-option>
  </mat-select>

<button *ngIf="selRef!=null && selMarque!=null" mat-button mat-raised-button (click)="selCar()">Selectionner</button>



