<mat-card class="app-card">
  <mat-card-header>
    <strong>{{config.values.references.title}}</strong>
    <span class="fill-remaining-space"></span>
    <button mat-button *ngIf="userService.user.id!=null && !showAdd" button mat-raised-button (click)="showAdd=true">
      Proposer
    </button>
  </mat-card-header>
  <mat-card-content class="app-card-content">
    <app-new-reference (onchange)="add_reference($event)"
                       *ngIf="showAdd">
    </app-new-reference>

    <div *ngIf="!showAdd && categories?.length>0">
      <mat-form-field>
        <mat-label>Filtre</mat-label>
        <mat-select style="font-size: medium" [(ngModel)]="filter" (selectionChange)="refresh()">
          <mat-option *ngFor="let cat of categories" [value]="cat">
            {{cat}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-list dense >
        <mat-list-item style="margin: 0px;padding:0px;" *ngFor="let ref of references">
          <mat-icon matListIcon (click)="openMap(ref)">my_location</mat-icon>
          <mat-icon matListIcon
                    *ngIf="userService.user?.id==ref.owner || userService.user?.email==config.values.admin.email" (click)="del_reference(ref)">delete</mat-icon>
          <p matLine title="{{ref.comment}}" (click)="openUrl(ref.url)">
            {{ref.text}}<br>
            <small>{{ref.comment}}</small>
          </p>

            <span style="cursor: pointer;" (click)="like(ref.id,1)">{{0+ref.likes?.length}}</span>/
            <span style="cursor: pointer;" (click)="like(ref.id,-1)">{{0+ref.dislikes?.length}}</span>
        </mat-list-item>
      </mat-list>
    </div>

  </mat-card-content>
</mat-card>
