<mat-card class="app-card">
  <mat-card-header>
    <h2>Inscrivez vous</h2>
  </mat-card-header>
  <mat-card-content class="app-card-content">

    <app-profil [profil]="profil" (onchange)="updateProfil($event)"></app-profil>

    <br><br>

    <div style="display:inline;" *ngIf="message!=''">
      <p>{{message}}</p>
    </div>


  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button mat-raised-button
            *ngIf="profil.firstname!=null && profil.lastname!=null && profil.firstname.length>0 && profil.lastname.length>0"
            (click)="sendUser()">
      Enregistrer
    </button>
    &nbsp;
    <button mat-raised-button
            (click)="cancel()">
      Annuler
    </button>
    <br>
  </mat-card-actions>
</mat-card>
