<mat-card>
  <mat-card-content>
    <h1>Inscrivez vous</h1>

      <table class="example-full-width" cellspacing="30"><tr>
        <td><mat-form-field class="example-full-width">
          <input [(ngModel)]="lastname" matInput placeholder="Votre nom">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <input [(ngModel)]="firstname" matInput placeholder="Votre prénom">
        </mat-form-field></td>
      </tr>

        <tr>
          <td>
            <img class="avatar" src="/assets/img/avatar.jpg">
          </td>
          <td>
            <button mat-raised-button>Modifier la photo</button>
          </td>
        </tr>
      </table>

      <br>
      <app-car-picker (onclick)="selcar($event)"></app-car-picker>


    <button mat-raised-button (click)="sendUser()">Enregistrer</button>
  </mat-card-content>
</mat-card>
