<div style="text-align: center;width:100%;">
  <br><br>
  <img style="display: inline-block" src="assets/img/logo-rousseau.png"><br><br>

  <mat-card style="display:inline-block;max-width: 700px;">
    <mat-card-content>
    <h1>Inscrivez vous</h1>

      <table class="example-full-width" cellspacing="30">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input [(ngModel)]="email" matInput placeholder="Votre email">
            </mat-form-field>
          </td>
        </tr>

        <tr>
        <td>
          <mat-form-field class="example-full-width">
          <input [(ngModel)]="firstname" matInput placeholder="Votre prénom">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <input [(ngModel)]="lastname" matInput placeholder="Votre nom">
        </mat-form-field></td>
      </tr>

        <tr>
          <td>
            <img class="avatar" src="./assets/img/avatar.jpg">
          </td>
          <td>
            <button mat-raised-button>Modifier la photo</button>
          </td>
        </tr>

        <tr>
          <td>
            <br><br>
            <app-car-picker (onclick)="selcar($event)"></app-car-picker></td>
          <td>
            <img class="image-photo"
                 *ngIf="carPicture.length>0"
                 src="{{carPicture}}"
                 style="width:50vw;max-width: 400px">
          </td>
        </tr>
      </table>

      <div style="display:inline;" *ngIf="message!=''">
        <p>{{message}}</p>
      </div>

    <button mat-raised-button
            *ngIf="firstname!=null && lastname!=null && firstname.length>0 && lastname.length>0"
            (click)="sendUser()">
      Enregistrer
    </button>

  </mat-card-content>
</mat-card>
