<mat-card class="app-card">
  <mat-card-content class="app-card-content">
    <strong>{{config.values.appli_name}}</strong>, version {{config.values.version}}<br><br>

    {{config.values.owner.about}}<br><br>

    Elle est la propriété de <br><br>

    <a href="{{config.values.owner.website}}" target="_blank">
      <img style="max-width:70px"
           src="{{config.values.owner.logo}}"
           title="{{config.values.owner.company}}"
           alt="{{config.values.owner.company}}">

    </a><br><br>
    Licence : {{config.values.owner.licence}}

    <br><br><br>
    Code d'enregistrement automatique :<br><br>
    <qrcode [qrdata]="url_record_work" [size]="200" [level]="'M'"></qrcode>
  </mat-card-content>
</mat-card>
