<div *ngIf="userService.user?.load_products==null || userService.user?.load_products[0]==null"
     style="text-align: center;margin:10%;">
  <h3>Retrouver tous les menus pour votre enfant, une fois celui-ci renseigné</h3>
</div>

<div *ngIf="userService.user?.load_products!=null && userService.user?.load_products[0]!=null"
     style="text-align: left;width:100%;">
  <br>
  &nbsp;
    <button mat-raised-button mat-button (click)="showMenu()">
      Composer les menus
    </button>
    &nbsp;
    <button mat-raised-button mat-button (click)="showBlog()">
      Conseils Nutrition
    </button>

  <br><br>

  <app-schedule-menu [can_delete]="true"
                     [groupe]="userService.user?.load_products[0].groupe"
                     limit="10"
                     title="Les prochains menu">
  </app-schedule-menu>
</div>




