<mat-card class="app-card">
  <mat-card-header>
    <span *ngIf="appointments.length==0">
      Aucun rendez-vous plannifié
    </span>
        <span *ngIf="appointments.length>0">
      Votre prochain rendez-vous
    </span>
  </mat-card-header>
  <mat-card-content class="app-card-content">
    <br>
    <div *ngFor="let app of appointments" style="vertical-align: middle;">
      <button mat-icon-button (click)="cancelAppointment(app)"><mat-icon>delete</mat-icon></button>
      Le {{app.dtStart | date:'shortDate'}} à {{app.dtStart | date:'shortTime'}} - {{app.motif}}

    </div>
    <br>
    <mat-card-actions class="app-card-content" *ngIf="appointments.length==0 && new_button">
      <button color="primary" mat-raised-button (click)="ask_appointment()">Nouveau rendez-vous</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
