<mat-card class="app-card">
  <mat-card-header>
    <span *ngIf="appointments.length==0">
      Aucun rendez-vous plannifié
    </span>
    <span *ngIf="appointments.length>0">
      Votre prochain rendez-vous
    </span>
  </mat-card-header>
  <mat-card-content style="text-align: center;">
    <br>
    <div *ngIf="appointments.length>0">
      Le {{appointments[0].dtStart | date:'shortDate'}} à {{appointments[0].dtStart | date:'shortTime'}} - {{appointments[0].motif}}<br><br>
      <button mat-button mat-raised-button (click)="cancelAppointment(appointments[0])">Annuler</button>
    </div>

    <br>
    <mat-card-actions>
      <button *ngIf="appointments.length==0" color="primary" mat-raised-button (click)="ask_appointment()">*Nouveau rendez-vous</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
