<mat-card class="app-card">
  <mat-card-header>
    <h3>{{title}}</h3>
  </mat-card-header>
  <mat-list>
    <mat-list-item *ngFor="let menu of menus" style="margin-top: 10px;">
      <h3 mat-line>
        <strong>{{menu.dtStart | date:"dd/MM"}}</strong>
          <mat-icon *ngIf="can_delete && menu.preparateur.id==userService.user.id"
                    style="display: inline;font-size: medium;"
                    title="Vous permet de supprimer le menu (si vous en êtes l'auteur)"
                    (click)="deleteMenu(menu)">
            delete
          </mat-icon>
      </h3>
      <p mat-line>
      <span *ngFor="let it of menu.items" (click)="openRecette(it.recette)">
        {{it.title}}
        <br>
      </span>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card>
