<div style="text-align: center">
  <br><br>
  <mat-card class="app-card" style="margin-top:0">
    <mat-card-content *ngIf="config.values">
      <img *ngIf="deviceService.isMobile()" style="width:90%" src="{{config.values.logo}}">
      <h1>Se connecter</h1>
      <h4>via</h4>
      <button *ngIf="config.values.authent.google"
              id="cmdGoogle"
              class="button-identity-provider"
              mat-raised-button
              (click)="loginService('contact')">
        Google
      </button>
      <br>

      <!--<button class="button-identity-provider" mat-raised-button >Facebook</button><br>-->
      <button *ngIf="config.values.authent.linkedin"
              class="button-identity-provider"
              mat-raised-button
              id="cmdLinkedin"
              (click)="loginService('linkedin')">
        Linkedin
      </button>

      <div *ngIf="config.values.authent.email">
        <br>
        <h4>ou directement avec</h4>
        <mat-form-field class="example-form-field">
          <input matInput type="email"
                 id="txtUsername"
                 placeholder="Votre email" [(ngModel)]="email"
                 (keypress)="keypress($event)" class="input-style">

          <button mat-button *ngIf="email"
                  id="cmdClearEmail"
                  matSuffix mat-icon-button aria-label="Clear" (click)="clearEmail()">
            <mat-icon>close</mat-icon>
          </button>

        </mat-form-field>

        <br>
        <mat-form-field *ngIf="showPassword && email!=null && email.length>0" class="input-style">
          <input name="password" placeholder="votre code à 4 chiffres"
                 id="txtPassword"
                 [(ngModel)]="password" matInput type="password"
                 [maxlength]="4" (keypress)="keypress($event)">

          <button mat-button matSuffix mat-icon-button
                  *ngIf="password"
                  id="cmdClearPassword"
                  aria-label="Clear"
                  (click)="password=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <div *ngIf="showResendCode">
          Votre code est incorrect, Il vous à été envoyé dans votre boite mail<br>
          <button mat-raised-button
                  id="cmdResendPassword"
                  (click)="resend_code()">
            Renvoyer le code
          </button>
          <br>
        </div>

        <br>
        <button *ngIf="email!=null && email.length>0 && email.split('@').length>1"
                mat-raised-button
                id="cmdLogin"
                (click)="login(true)">
          Login
        </button>

      </div>


    </mat-card-content>

  </mat-card>


</div>
