<div style="text-align: center">
  <br><br>
  <mat-card class="app-card" style="margin-top:0">
    <mat-card-content *ngIf="config.values">
      <div *ngIf="deviceService.isMobile()">
        <h2>{{config.values?.appli_name}}</h2>
        <img
          style="max-height: 20vh;"
          src="{{config.values.logo}}">
      </div>

      <h1>Se connecter</h1>
      <div *ngIf="showServiceTiers">
        <button *ngIf="config.values.authent.google"
                id="cmdGoogle"
                title="Authentification via Google"
                class="button-identity-provider"
                mat-raised-button
                (click)="loginService('contact')">
          via Google
        </button>
        <br>

        <button *ngIf="config.values.authent?.facebook"
                id="cmdFacebook"
                title="Authentification via Facebook"
                class="button-identity-provider"
                mat-raised-button
                (click)="loginService('facebook')">
          via Facebook
        </button>
        <br>

        <!--<button class="button-identity-provider" mat-raised-button >Facebook</button><br>-->
        <button *ngIf="config.values.authent?.linkedin"
                class="button-identity-provider"
                title="Authentification via linkedin"
                mat-raised-button
                id="cmdLinkedin"
                (click)="loginService('linkedin')">
          via Linkedin
        </button>
      </div>

      <div *ngIf="config.values.authent?.email">
        <br>
        <mat-form-field class="example-form-field">
          <input matInput type="email"
                 id="txtUsername"
                 title="Indiquer votre mail afin de recevoir le code de connexion dans votre boite"
                 placeholder="Par email" [(ngModel)]="email"
                 (keypress)="keypress($event)" class="input-style">

          <button mat-button *ngIf="email"
                  id="cmdClearEmail"
                  matSuffix mat-icon-button aria-label="Clear" (click)="clearEmail()">
            <mat-icon>close</mat-icon>
          </button>

        </mat-form-field>

        <br>
        <mat-form-field *ngIf="showPassword && email!=null && email.length>0" class="input-style">
          <input name="password" placeholder="votre code à 4 chiffres"
                 title="Votre code envoyé sur votre boite mail à l'inscription"
                 id="txtPassword"
                 [(ngModel)]="password" matInput type="password"
                 [maxlength]="4" (keypress)="keypress($event)">

          <button mat-button matSuffix mat-icon-button
                  *ngIf="password"
                  id="cmdClearPassword"
                  aria-label="Clear"
                  (click)="password=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <mat-spinner *ngIf="waiting"></mat-spinner>

        <button *ngIf="email!=null && email.length>0 && email.split('@').length>1"
                mat-raised-button mat-button
                id="cmdLogin"
                (click)="login(true)">
          Login
        </button>

        <div *ngIf="showResendCode">
          <br>
          Votre code est incorrect, Il vous à été envoyé dans votre boite mail<br>
          <button mat-raised-button
                  id="cmdResendPassword"
                  (click)="resend_code()">
            Renvoyer le code
          </button>
          <br>
        </div>


      </div>

    </mat-card-content>

  </mat-card>


</div>
