<mat-toolbar color="primary" style="z-index: 100;height:7vh;vertical-align: middle;">
  <button
    id="cmdBurger"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <div *ngIf="!(isHandset$ | async)" style="height:100%;vertical-align:text-top;position:relative;">
    <img *ngIf="config.values?.header?.logo"
         class="main-logo" style="display:inline-block;margin-top:10px;float:left;"
         src="{{config.values?.logo}}">
    <div style="font-weight:lighter;font-size: 1.2em;position:relative;display: inline-block;margin:13px;">{{config.values?.appli_name}}</div>
  </div>

  <span class="fill-remaining-space"></span>
  <button *ngIf="userService.user?.email!=null"
          id="cmdLogout"
          mat-raised-button color="primary"
          (click)="logout()">Déconnecter
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" *ngIf="config.values!=null">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <br><br><br>

    <mat-nav-list>
      <a *ngIf="userService.user==null || userService.user.email==null" mat-list-item routerLink="/login">
        <mat-icon>person</mat-icon>
        &nbsp;&nbsp;Login
      </a>

      <a *ngIf="userService.user?.email!=null && config.values.menu.dashboard?.visible"
         id="cmdDashboard"
         mat-list-item
         routerLink="/main">
        <mat-icon>dns</mat-icon>
        &nbsp;&nbsp;Principal
      </a>

      <a *ngIf="userService.user!=null && userService.user.email!=null && config.values.menu.schedule?.visible" mat-list-item routerLink="/schedule"
         id="cmdSchedule"
         title="Liste des rendez-vous planifiés et possibilité d'en prendre d'autres">
        <mat-icon>schedule</mat-icon>
        &nbsp;&nbsp;Rendez-vous
      </a>

      <a *ngIf="userService.user!=null && userService.user?.email!=null && userService.user?.load_products!=null && userService.user?.load_products[0]!=null&& config.values.menu.list_works?.visible" mat-list-item routerLink="/works"
         id="cmdWorks"
         title="Toutes les présences enregistré">
        <mat-icon>people</mat-icon>
        &nbsp;&nbsp;Présences
      </a>

      <a *ngIf="userService.user!=null && userService.user.email!=null && config.values.menu.addmessage?.visible" mat-list-item routerLink="/addmessages"
         id="cmdAddMessage"
         title="Diffuser un message a tous">
        <mat-icon>email</mat-icon>
        &nbsp;&nbsp;Message
      </a>

      <a *ngIf="userService.user!=null && userService.user.email!=null && config.values.menu.showmenu?.visible" mat-list-item routerLink="/showmenu"
         id="cmdShowMenus"
         title="Les menus des prochains jours">
        <mat-icon>restaurant</mat-icon>
        &nbsp;&nbsp;Les menus
      </a>


      <a *ngIf="userService.user!=null && userService.user.email!=null  && config.values.menu.gifts?.visible" mat-list-item routerLink="/gift"
          id="cmdGift"
          title="Liste des cadeaux / promotions">
        <mat-icon>cake</mat-icon>
        &nbsp;&nbsp;Récompenses
      </a>

      <a *ngIf="config.values.menu.references?.visible" mat-list-item routerLink="/references"
          id="cmdReference"
          title="Adresses">
        <mat-icon>my_location</mat-icon>
        &nbsp;&nbsp;Adresses
      </a>

      <a *ngIf="config.values.menu.services.visible" mat-list-item routerLink="/services"
         id="cmdAllServices"
         title="Liste de l'ensemble des prestations / services proposées">
        <mat-icon>build</mat-icon>&nbsp;&nbsp;Services</a>

      <a mat-list-item routerLink="/share"
         id="cmdInvite"
         title="Inviter votre entourage a rejoindre l'application">
        <mat-icon>person_add</mat-icon>&nbsp;&nbsp;Inviter</a>


      <a *ngIf="userService.user!=null && userService.user.email!=null && config.values.menu.profil.visible"
         id="cmdProfil"
         mat-list-item routerLink="/preferences"
         title="Paramétrage de l'application">
        <mat-icon>settings</mat-icon>
        &nbsp;&nbsp;Mon profil
      </a>
      <br>

      <div *ngFor="let menu of menus">
        <a  *ngIf="menu.target!='blank'"
            mat-list-item
            [routerLink]="menu.routerLink"
            [name]="menu.name"
            id="{{menu.id}}"
            [title]="menu.description">
          <mat-icon>{{menu.icon}}</mat-icon>&nbsp;&nbsp;{{menu.title}}
        </a>
        <a  *ngIf="menu.target=='blank'"
            mat-list-item
            [href]="menu.href"
            target="_blank"
            [name]="menu.name"
            id="{{menu.id}}"
            [title]="menu.description">
          <mat-icon>{{menu.icon}}</mat-icon>&nbsp;&nbsp;{{menu.title}}
        </a>
      </div>

      <a *ngIf="userService.user==null || userService.user.email==null && config.values.menu.contact.visible"
         mat-list-item routerLink="/contact"><mat-icon>phone_in_talk</mat-icon>&nbsp;&nbsp;
        Contacter
      </a>

      <br>


      <a mat-list-item routerLink="/about"><mat-icon>account_balance</mat-icon>&nbsp;&nbsp;A propos</a>

      <div *ngIf="userService.user.email==config.values.admin.email">
        <a mat-list-item routerLink="/admin"><mat-icon>build</mat-icon>&nbsp;&nbsp;Admin</a>
        <a mat-list-item routerLink="/catalogue/server.f80.fr"><mat-icon>build</mat-icon>&nbsp;&nbsp;CRM</a>
      </div>

      <div style="width:100%;text-align: left;font-size: small;">&nbsp;&nbsp;&nbsp;version:{{config.values.version}}</div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
