.sidenav-container {
  height: 90%;
  overflow: hidden;
  z-index:10;
}

.invisible-scrollbar .sidenav {
  width: 200px;
  overflow-y: auto;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.main-logo{
  height:60%;
}



