<div *ngIf="bigScreen">
  <table style="width: 100%;">
    <tr style="vertical-align: top;">
    <td style="width:50%">
      <app-welcome *ngIf="userService.user.connexions.length<3"></app-welcome>
      <app-light-profil></app-light-profil><br>
      <app-next-appointment></app-next-appointment>
    </td>
      <td>
        <app-gift></app-gift>
      </td>
    </tr>
  </table>
</div>

<div *ngIf="!bigScreen">
  <app-welcome *ngIf="userService.user.connexions.length<3"></app-welcome>
  <app-light-profil></app-light-profil><br>
  <app-next-appointment></app-next-appointment>
  <app-gift></app-gift>
</div>
