<mat-card class="app-card" style="max-width: 1200px;">
  <mat-card-header>
      <div>Promotions / cadeaux</div>
      <div class="fill"></div>
      <div>
        <button mat-icon-button class="more-button" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
  </mat-card-header>

  <mat-card-content style="overflow: hidden;">

    <div *ngIf="!icon_view" fxLayout="row wrap">
        <div class="flip-card" *ngFor="let gift of gifts" style="margin-bottom:8px;position:relative;height:400px;width:100%;overflow: hidden;">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="{{gift.picture}}" style="position:absolute;left:0;top:0;object-fit: cover;">
              <div [ngStyle]="{'position':'absolute','text-align':'center','left':'20%','top':'15%','width':'60%','font-size':'2.5vmax','color':gift.messageColor}">
                {{gift.message}}
              </div>
              <button mat-raised-button
                      style="position:absolute;left:35%;top:70%;width:30%;max-width:200px;"
                      (click)="useGift($event,gift)">
                J'en profite
              </button>

              <div [ngStyle]="{'position':'absolute','text-align':'center','left':'45%','top':'82%','width':'10%','font-size':'1vmax','color':gift.messageColor}">
                Reste&nbsp;<app-timer [end]="gift.dtEnd"></app-timer>
              </div>
            </div>
            <div class="flip-card-back">
              <div style="vertical-align: middle;text-align: center;">
                {{gift.manual}}
              </div>
            </div>
          </div>

        </div>
    </div>

    <mat-selection-list #sel_gift *ngIf="icon_view">
      <mat-list-option  *ngFor="let gift of gifts">
        <img mat-list-avatar src="{{gift.icon}}">
        <span mat-line>{{gift.message}}</span>
      </mat-list-option>
    </mat-selection-list>

    <mat-card-actions>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

