<app-next-appointment count="5" [new_button]="false"></app-next-appointment>
<mat-card class="app-card">
  <mat-card-header>Demander un rendez-vous</mat-card-header><br>
  <mat-card-content class="app-card-content">
    <mat-form-field class="input-style" style="width:140px">
      <input matInput
             [matDatepicker]="picker"
             [(ngModel)]="sch_date"
             placeholder="Choisir une date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>&nbsp;&nbsp;
    à&nbsp;
    <input class="time-picker"
           id="lstTimePicker"
           [(ngModel)]="sch_hour"
           style="width: 75px;"
           atp-time-picker
           onlyHour="false"
           start='09:30'
           end="17:30"
           local="fr"
           value="15:00"/>

    &nbsp;pendant:&nbsp;
    <mat-select id="lstDuration" placeholder="Durée" [(ngModel)]="duration" style="width: 75px;">
      <mat-option [value]="15" active>00:15</mat-option>
      <mat-option [value]="30">00:30</mat-option>
      <mat-option [value]="60">01:00</mat-option>
      <mat-option [value]="90">01:30</mat-option>
      <mat-option [value]="120">02:00</mat-option>
    </mat-select>

    <br>

    <mat-form-field style="width:80%" class="input-style">
      <input id="txtMotif"
             title="Il est utile d'énoncer clairement le motif du rendez-vous afin de faciliter sa préparation"
             matInput  [(ngModel)]="motif" placeholder="Motif">
    </mat-form-field>
    <br>
    <button mat-raised-button
            id="cmdValide"
            *ngIf="motif!=null && motif.length>0"
            color="primary"
            (click)="askForAppointment()">Demander</button>
  </mat-card-content>

</mat-card>
