<app-next-appointment count="5" [new_button]="false"></app-next-appointment>
<mat-card class="app-card">
  <mat-card-header>Demander un rendez-vous</mat-card-header><br>
  <mat-card-content class="app-card-content">
    <mat-form-field class="input-style" style="width:140px">
      <input matInput [matDatepicker]="picker" [(ngModel)]="sch_date"  placeholder="Choisir une date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>&nbsp;&nbsp;
    à&nbsp;
    <input class="time-picker"
           [(ngModel)]="sch_hour"
           atp-time-picker
           onlyHour="false"
           start='09:30'
           end="17:30"
           local="fr"
           value="15:00"/>

    <br>

    <mat-form-field style="width:80%" class="input-style">
      <input matInput  [(ngModel)]="motif" placeholder="Motif">
    </mat-form-field>
    <br>
    <button mat-raised-button
            *ngIf="motif!=null && motif.length>0"
            color="primary"
            (click)="askForAppointment()">Demander</button>
  </mat-card-content>

</mat-card>
