<mat-card class="app-card">
  <mat-card-header class="app-card-header" style="margin-left:-20px;">

    <table style="width:100%;">
      <tr style="vertical-align: middle;">
      <td style="text-align: left;width:60px;" *ngIf="userService.user.products?.length>0">
        <!--Image du produit-->
        <img class="avatar"
             *ngIf="userService.user.products?.length>0"
             src="{{userService.user.photo}}">
      </td>

      <td style="text-align: left;padding:0px;margin:0px;">
        <div *ngIf="userService.user.products!=null && !takePicture" id="divProduct">
          {{userService.user.firstname}} {{userService.user.lastname}}<br>
        </div>
        <span style="font-weight: normal" *ngIf="userService.user.load_products!=null && userService.user.products?.length>0">
          forfait:{{userService.user.load_products[0]?.forfait}}h
        </span>

        <mat-spinner *ngIf="waiting"></mat-spinner>

        <app-product-picker *ngIf="userService.user.products==null && !waiting"
                            width="100%"
                            style="height:500px;"
                            (onclick)="selproduct($event)">
        </app-product-picker>

        <br>
        <app-tuto *ngIf="userService.user.products==null"
                  text="Utiliser les flêches latérales pour retrouver votre bambin ">
        </app-tuto>

        <webcam *ngIf="takePicture"
                [height]="300" width="400"
                [trigger]="triggerObservable"
                [videoOptions]="videoOptions"
                [imageQuality]="0.85"
                imageType="image/jpeg"
                (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)"
                (imageCapture)="handleImage($event)">
        </webcam>
      </td>

      <td id="lblPoints"
          style="text-align:right;font-size: 4.5vw;">
        <div  *ngIf="userService.user.products!=null && config.values.loyalty.enabled">
          {{userService.user.pts}}
          <span style="font-size: 2.5vw;">pts</span>&nbsp;
        </div>
      </td>
    </tr></table>
  </mat-card-header>


  <mat-card-content class="app-card-content">
    <div *ngIf="userService.user.products?.length>0 && !takePicture"
         [ngStyle]="{'position':'relative','text-align':'center','width':'100%','height':config.values.light_profil?.height_preview}">
      <img *ngIf="userService.user.load_products!=null"
            style="height:100%;object-fit: cover;"
           src="{{userService.user.load_products[0].photo}}"
           alt="">

      <!--<div *ngIf="userService.user.products!=null" style="position:absolute;left:0px;top:0px;width:8%;width:50px;">-->
        <!--<button id="cmdRemoveProduct" class="button-image-toolbar"-->
                <!--mat-icon-button (click)="deleteProduct()"><mat-icon>remove_circle</mat-icon></button>-->

        <!--<button id="cmdAddProduct" class="button-image-toolbar" *ngIf="userService.user.products?.length<config.values.product_picker.max_product"-->
                <!--mat-icon-button (click)="addProduct()"><mat-icon>add_circle</mat-icon></button>-->

        <!--&lt;!&ndash;<button id="cmdPhotoProduct" class="button-image-toolbar"&ndash;&gt;-->
                <!--&lt;!&ndash;mat-icon-button (click)="takePhoto()"><mat-icon>camera</mat-icon></button>&ndash;&gt;-->
      <!--</div>-->

    </div>

    <div *ngIf="userService.user?.load_products!=null && userService.user.products?.length>0" style="width: 100%;text-align: center">
      <strong>{{userService.user?.load_products[0]?.label}}</strong>
    </div>


    <app-tuto *ngIf="userService.user.products!=null"
              text="Vous pouvez remplacer l'image pour une vraie photo">
    </app-tuto>
    <br>

    <div *ngIf="userService.user.products!=null">
      <button *ngIf="!takePicture && webcamsAvailable>0"
              mat-icon-button mat-button mat-raised-button
              style="margin:5px;"
              (click)="takePhoto()">
        <mat-icon>camera</mat-icon>
      </button>

      <button *ngIf="!takePicture" mat-icon-button mat-raised-button (click)="fileInput.click()">
        <mat-icon>images</mat-icon>
      </button>
      <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">

    </div>

    <button *ngIf="takePicture"
             mat-button
            mat-raised-button
            id="cmdTakePicture"
            (click)="triggerSnapshot(true)">
      Déclencher
    </button>
    &nbsp;&nbsp;
    <button *ngIf="takePicture"
            mat-raised-button
             mat-button
            id="cmdTakePicture"
            (click)="triggerSnapshot(false)">
      Annuler
    </button>


    <button *ngIf="userService.user.products?.length>0 && userService.user.load_products!=null && userService.user.load_products[0]?.services!=null"
            id="cmdServices"
            mat-button mat-raised-button
            (click)="linkServices()">Services associés
    </button>

    {{userService.user.message}}
  </mat-card-content>

</mat-card>
